@import "styles/mixins";
@import "styles/variables";

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.panel {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  z-index: 2;
  padding: 5rem;
  background-color: white;
  align-items: center;
  justify-items: center;
  width: 50rem;
  box-shadow: 0px 5px 20px -3px rgba(226, 197, 255, 0.7);
  border-radius: 1rem;
  margin-top: -10rem;

  @include respond(tab-port) {
    width: 90%;
  }
}

.button{
  width: 100%;
}

.form{
  width: 100%;

  input{
    width: 100%;
    margin-bottom: 2rem;
    display: block;
    padding: 2rem;
    color: inherit;
    width: 100%;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.4rem;
    border: 1px solid #B0BEC5;
    padding: 1rem;
    transition: box-shadow var(--transitionDuration);
  }

  input::placeholder {
    color: #B0BEC5;
  }

  input:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
    border: 2px solid $color-primary;
  }

  .button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: 500;
    padding: 1.7rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
}


.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #b3f4ff;
  // color: #4b1f92;
  overflow-x: clip;
}

.purple_wave {
  background: url('/images/purple-wave.svg') repeat-x;
  position: absolute;
  top: -140px;
  width: 6400px;
  height: 198px;
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave {
  background: url('/images/wave.svg') repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 27s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 27s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {

  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}