.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: #edf2f7;
}

.header {
  background-color: white;
}

.backToHome {
  margin: 3rem 0 0;
}

.children {
  padding: 1rem;
}
