.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.children {
  padding: 1rem;
}
