.activate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(254, 244, 255, 0.8),
      rgba(40, 136, 180, 0.8)
    ),
    url("/images/pexels-photo-3373746.jpeg");
  background-size: cover;
}
