// COLORS
$color-primary: #5720C7;
$color-primary-light: #B6A6CA;
$color-primary-dark: #8d60c4;

$color-secondary-light: #d5cfe1;
$color-secondary-dark: #6e6483;

$color-tertiary-light: #d5cfe1;
$color-tertiary-dark: #d5cfe1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


$font-logo: 'Righteous',
sans-serif;

$font-primary: 'Lato Regular',
sans-serif;
$font-primary-black: 'Lato Black',
sans-serif;
$font-primary-black-italic: 'Lato BlackItalic',
sans-serif;
$font-primary-bold: 'Lato Bold',
sans-serif;
$font-primary-bold-italic: 'Lato BoldItalic',
sans-serif;
$font-primary-italic: 'Lato Italic',
sans-serif;
$font-primary-light: 'Lato Light',
sans-serif;
$font-primary-light-italic: 'Lato LightItalic',
sans-serif;
$font-primary-thin: 'Lato Thin',
sans-serif;
$font-primary-thin-italic: 'Lato ThinItalic',
sans-serif;