@import "styles/mixins";
@import "styles/variables";
@import "styles/_typography";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#nprogress .bar {
  height: 5px !important;
  background-color: aquamarine !important;
}